.Walk4_notice-container {
  background-color: #FFE0B2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Walk4_notice-header {
  background-color: #ffffff;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.Walk4_notice-back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.Walk4_notice-back-button img {
  width: 24px;
  height: 24px;
}

.Walk4_notice-title {
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
  white-space: pre-line;
}

.Walk4_notice-content {
  max-width: 550px;
  width: 88%;
  display: flex;
  flex-direction: column;
  /* background-color: #ffffff; */
  border-radius: 20px;
  padding: 15px;
  line-height: 1.6;
  font-size: 16px;
  position: absolute;
  top: calc(50% + 80px);
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  overflow-y: auto;
}

.recommendation-container {
  margin-top: 15px;
  padding: 15px 20px;
  background-color: #FFF8E1;
  border-radius: 8px;
  border-left: 3px solid #ffffff;
  font-size: 16px;
  line-height: 1.6;
  word-break: keep-all;
}

.no-trainer-message {
  text-align: center;
  color: #666;
  margin-top: 20px;
}